In [39]:
import pandas as pd

df_Insurance = pd.read_csv("df.csv")
df_Insurance.head(200)

       年度  地區別  月投保薪資等級   投保人數
0    2022  宜蘭縣    25250  82681
1    2022  宜蘭縣    26400   3470
2    2022  宜蘭縣    27600   4415
3    2022  宜蘭縣    28800   3755
4    2022  宜蘭縣    30300   7071
..    ...  ...      ...    ...
195  2022  基隆市    28800   1895
196  2022  基隆市    30300   4794
197  2022  基隆市    31800   1864
198  2022  基隆市    33300   2379
199  2022  基隆市    34800   3561

[200 rows x 4 columns]

In [40]:
#找出宜蘭縣總投保人數

total_number = df_Insurance[df_Insurance['地區別'] == "宜蘭縣"]['投保人數'].sum()
total_number

163660

In [93]:
n = ["臺北市", "新北市", "基隆市", "桃園縣", "新竹縣"]
c = ["苗栗縣", "臺中市", "雲林縣", "南投縣", "彰化縣"]
s = ["雲林縣", "嘉義縣", "臺南市", "高雄市", "屏東市"]

In [94]:
#北部地區總投保人數

result = df_Insurance['地區別'].isin(n)
northArea = df_Insurance[result]
total_north = northArea['投保人數'].sum()
print(total_north)

4425411